<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.IMonthlyForecast20Dao">
	<resultMap type="MonthlyForecast20" id="MonthlyForecast20Map">
	</resultMap>
	<select id="selectAllForecast" resultMap="MonthlyForecast20Map">
		select * from
		20monthly_forecast
	</select>
	<select id="selectForecast" parameterType="int"
		resultMap="MonthlyForecast20Map">
		select * from 20monthly_forecast where f_id=#{f_id}
	</select>
	
	<select id="selectForecastByDate" parameterType="String" resultMap="MonthlyForecast20Map">
	select * from 20monthly_forecast where f_date=#{f_date}
	</select>
	
</mapper>