<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<context:component-scan base-package="service"></context:component-scan>

	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		id="dataSource">
		<property name="driverClassName" value="org.mariadb.jdbc.Driver"></property><!-- com.mysql -->
		<property name="url" value="jdbc:mariadb://70.12.111.30:3306/goldrush_db"></property>
		<!-- <property name="url" value="jdbc:mysql://localhost:3306/goldrush_db"></property> -->
		<property name="username" value="root"></property>
		<property name="password" value="bigdata"></property>
		<!-- <property name="password" value="mysql"></property> -->
	</bean>

	<bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactory">
		<property name="dataSource" ref="dataSource"></property>
		<property name="mapperLocations" value="classpath*:dao/mapper/*.xml"></property>
		<property name="typeAliasesPackage" value="model"></property>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="memberDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="dao.IMemberDao"></property>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="IPriceDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="dao.IPriceDao"></property>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="IFactorsRecentDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="dao.IFactorsRecentDao"></property>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="ITrendKeywordDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="dao.ITrendKeywordDao"></property>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="IForecastOthersDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="dao.IForecastOthersDao"></property>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="INewsDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="dao.INewsDao"></property>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="IFactorsMonthDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="dao.IFactorsMonthDao"></property>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="IFactorsDailyDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="dao.IFactorsDailyDao"></property>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="IForecastDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="dao.IForecastDao"></property>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="IInfluenceDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="dao.IInfluenceDao"></property>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="IForecast_Factors_dDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="dao.IForecast_Factors_dDao"></property>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperFactoryBean" id="IForecast_Factors_mDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
		<property name="mapperInterface" value="dao.IForecast_Factors_mDao"></property>
	</bean>

	<bean
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		id="txManager">
		<!-- 얘가 관리를 할라면 커넥션이랑 연관된 데이터소스를 줘야겠죠 -->
		<property name="dataSource" ref="dataSource"></property>
	</bean>


	<tx:advice transaction-manager="txManager" id="txAdvice">
		<tx:attributes>
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:advisor advice-ref="txAdvice"
			pointcut="execution ( public * service.*.*(..) )" />
	</aop:config>
</beans>
