<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- 콘솔 로그 -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<!-- 패턴 레이아웃 설정.. -->
		<layout class="org.apache.log4j.PatternLayout"> 
			<param name="ConversionPattern" value="%d %p [%c{5}] %m%n" />
		</layout>
	</appender>	
	<!-- 날짜별 로그 파일 생성 -->
	<appender name="rollingFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="daily.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%C{10}] %m [%X{userId}]%n" />
		</layout>
	</appender>
	<appender name="db" class="org.apache.log4j.jdbc.JDBCAppender">
		<param name="URL" value="jdbc:mariadb://70.12.111.30:3306/goldrush_db" />
		<param name="driver" value="org.mariadb.jdbc.Driver" />
		<param name="user" value="root" />
		<param name="password" value="bigdata" />
		<param name="sql" value="INSERT INTO logs VALUES('%d','%C','%p','%m')" />
		
<!-- 		<param name="org.apache.log4j.PatternLayout" /> -->
	</appender>
	<!-- 기본적으로 출력 될 로그 출력, appender-ref 를 통해 해당 appender 참조 -->
	<root>
		<level value="INFO" />
		<appender-ref ref="db" /> 
		<appender-ref ref="console" />
		<appender-ref ref="db" />
	</root>
</log4j:configuration>

